@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


/* hoofgerecht.html styling*/

.main-container{
    margin: 0;
    align-items: left;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 65px;
    
}

.mini-container{
    padding-bottom: 40px;
}

.text_class{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 36px;
}

#main-title{

    font-size: 36px;
    line-height: 36px;
    padding-top: 65px;
}

#first-paragraf{
    font-size: 24px;
    line-height: 36px
}

h2{
    font-size: 32px;
    line-height: 32px;
}

.tip-container {
    background-color:#def6ed;
    border-radius: 4px;
    margin-top: 25px;
    padding: 25px;
    display: flex

}

.ingredient-list{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ingredient-list li{
    margin: 10px 0; 
}

.recipe-list li{
    margin: 20px 0;
}

#tip-text{
    font-weight: bold;
}

img{
    width: 650px;
    height: auto;
}

/* Navbar styling */



.container-fluid {
    display: flex;
    justify-content: right !important;
}

.navbar-toggler-icon {
    width: 2.5em !important;
    height: 2.5em !important;
}

.offcanvas-title {
    font-size: 30px;
}

.nav-item {
    font-size: 20px;
}